.sertificateRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sertificateCol {
  flex-basis: 100%;
  max-width: 100%;
  text-align: center;
  padding: 15px;

  @media (min-width: 768px) {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.logo {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.mobileHr {
  display: block;
  margin: 1rem 0;
  border-color: var(--foreground);
}
