.menuBar_Content {
    background-color: linear-gradient(to bottom, rgb(5, 34, 51), rgb(9, 58, 87));
    display: block;
    text-decoration: none;
    font-size: 2vh;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.center-navbar {
    width:30%;
    margin-left: 35%;
  }
  .navbar-brand
  {
    font-size: 3.5vh !important;
    margin-left: 2vh;
  }