.row {
  margin: 2rem 0;
  position: relative;

  .rowTitle {
    color: #e5e5e5;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 4%;
    margin-bottom: 0.5rem;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  mask-image: linear-gradient(to right,
      transparent,
      black 5%,
      black 95%,
      transparent);

  -webkit-mask-image: linear-gradient(to right,
      transparent,
      black 5%,
      black 95%,
      transparent);

  &:hover {
    .navButton {
      opacity: 1;
    }
  }
}

.scrollContainer {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 4%;
  scrollbar-width: none;
  scroll-behavior: smooth;

  scroll-snap-type: x mandatory;
  scroll-padding: 0 4%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.navButton {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4%;
  background: rgba(38, 127, 199, 0.2);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 3rem;
  cursor: pointer;
  z-index: 20;
  transition: opacity 0.3s ease, background 0.3s ease;
  opacity: 0;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
    font-size: 4rem;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  @media (min-width: 1024px) {
    display: flex;
  }
}

.projectCard {
  position: relative;
  flex: 0 0 auto;
  width: 300px;
  aspect-ratio: 16 / 9;
  background-color: #2f2f2f;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    border-radius: 10px;
    border: 0.5px solid rgba(0, 163, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 163, 255, 0.15);
  }

  &:hover {
    transform: scale(1.05);
    z-index: 10;
  }

  .cardImage {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
  }

  .placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}