:root {
  --background: rgb(252, 252, 252);
  --foreground: #000000;
  --link-color: rgb(45, 93, 121);
  --accent-color: rgb(212, 120, 0);
  --font-family: 'Barlow Condensed', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button, input, select, textarea {
  font-family: inherit;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

a:visited {
  color: var(--link-color);
}

.mainText {
  padding-inline: 5%;
  color: var(--foreground);
  padding-top: 4vw;
  padding-bottom: 4vw;
  border-radius: 10px;
  margin: 2vw;
}

.subTitle {
  color: var(--accent-color);
  padding-top: 4vw;
}

.underText {
  text-align: center;
  padding-bottom: 1vw;
  color: var(--accent-color);
  padding-top: 5vw;
  font-weight: 200;
  @media screen and (max-width: 768px) {
    padding-top: 15vw;
  }
}

.smallTitle {
  color: var(--accent-color);
}

.mobile_hr {
  display: none;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}