body {
    font-family: 'Barlow Condensed', sans-serif;
}

.modal_p {
    /*background-color: rgba(214, 214, 214, 0.75); */
    padding-inline: 5%;
    color: #000000;
    border-radius: 10px;
    margin: 2vw;
}

.modal_title {
    color: rgb(212, 120, 0);
    padding-inline: 5%;
    margin-left: 2vw;
}

.modal_subTitle {
    color: rgb(212, 120, 0);
    padding-top: 2rem;
    padding-inline: 5%;
    margin: 2vw;
}

.project_images {
    max-height: 20rem;
    padding-inline: 5%;
    margin: 2vw;
    max-width: 95%;
}