.desktop_icon {
    margin-right: 0.5vh;
}

.desktop_links {
    display: flex;
    list-style-type: none;

      
}

.desktop_navList {
    font-size: 2vh;
    display: flex;
    padding-top: 0.5vh;
}

nav.navigation {
    display: flex;
    justify-content: center;
}
.nav-title {
    font-size: 3vh;  
    font-weight: bold;
    margin-right: 1vh;
  }