/* Remove Dots From List */
.mobile_navList {
    margin-left: -30px;
    margin-bottom: 1px;
    border-radius: 5px;
    list-style-type: none;
    padding: 1vw;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
}

.mobile_link_div {
    padding-top: 0;
    font-size: 4vw;
}

.burger_div {
    display: flex;
    justify-content: right;
    justify-content: space-between;
}

.mobile_link {
    color: rgb(45, 93, 121);
    padding-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.mobile_title {
    padding: 3%;
    margin: 0;
}
