.desktop_icon {
    margin-right: 0.5vh;
    padding-top: 0.5vh;
}

.desktop_links {
    gap: 5vh;
    display: flex;
    list-style-type: none;
    justify-content: center;
      
}

.desktop_navList {
    gap: 1vh;
    font-size: 2vh;
    display: flex;
    padding-top: 0.5vh;
}

.nav_title {
    font-size: 3vh;  
    font-weight: bold;
    margin-right: 1vh;
  }