.desktop_icon {
    margin-right: 0.5vh;
}

ul {
    display: flex;
}

li {
    font-size: 2vh;
    display: flex;
}

nav.navigation {
    display: flex;
    justify-content: center;
}
.nav-title {
    font-size: 3vh;  
    font-weight: bold;
    margin-right: 2vh;
  }