.navContainer {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px;
    width: 100%;
    justify-content: space-between;
}

.navColTitle {
    flex-shrink: 0;
}

.navColList {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.desktopIcon {
    margin-right: 0.5vw;
    padding-top: 0.5vw;
}

.desktopNavList {
    gap: 2vw;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.desktopLinks {
    gap: 0.5vw;
    font-size: 1.5vw;
    display: flex;
    padding-top: 0.5vw;
    color: rgb(45, 93, 121);
    text-decoration: none;
}

.navTitle {
    color: rgb(45, 93, 121);
    font-size: 3vw;
    font-weight: 200;
    padding-left: 5%;
}