.burgerDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mobileNavContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.navContent {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    width: 100%;
}

.mobileNavList {
    border-radius: 5px;
    list-style-type: none;
    padding: 1vw;
    box-shadow: 0px 0px 10px;
    width: 95%;
    margin: auto;
    margin-bottom: 1vw;
}

.mobileLinkDiv {
    padding-top: 0;
    font-size: 4vw;
}

.mobileLink {
    color: rgb(45, 93, 121);
    padding-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: larger;
}

.mobileTitle {
    color: rgb(45, 93, 121);
    padding: 3%;
    margin: 0;
    font-weight: 400;
}
