.App {
  background-color: rgb(5, 34, 51);
  font-family: 'Barlow Condensed', sans-serif;
  align-items: center;
}

.App-header {
  background: linear-gradient(to bottom, rgb(5, 34, 51), rgb(9, 58, 87));
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.name {
  padding-left: 2vh;
}
.titleName {
  padding-left: 2.5vh;
}
.mainText {
  background-color: rgb(0, 0, 0, 0.75);
  padding-inline: 5%;
  font-size:16pt;
  color: #f1f1f1;
  padding-top: 4vh;
  padding-bottom: 4vh;
  border-radius: 10px;
  margin: 2vh;
}
@media (max-width: 600px) {
  .titleName {
    font-size:18pt;
  }
  .mainText {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }
}
.subTitle {
  color: rgb(45, 93, 121);
}