.App {
  /* background-image: url('../images/CodeBackWhiteBlur.png'); */
  background-size: cover;
  background-color: rgb(252, 252, 252);
  font-family: 'Barlow Condensed', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.mainText {
  /*background-color: rgba(214, 214, 214, 0.75); */
  padding-inline: 5%;
  color: #000000;
  padding-top: 4vw;
  padding-bottom: 4vw;
  border-radius: 10px;
  margin: 2vw;
}

@media (max-width: 768px) {
  .mainText {
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.subTitle {
  color: rgb(212, 120, 0);
}

.underText {
  text-align: center;
  padding-bottom: 1vw;
  padding-top: 1vw;
  color: rgb(212, 120, 0);
}

.smallTitle {
  color: rgb(212, 120, 0);
}

a:link {
  color: rgb(45, 93, 121);
}
a:visited {
  color: rgb(45, 93, 121);
}

a:hover {
  color: rgb(212, 120, 0);
}
