.App {
  background-color: rgb(252, 252, 252);
  font-family: 'Barlow Condensed', sans-serif;
}

.mainText {
  background-color: rgba(214, 214, 214, 0.75);
  padding-inline: 5%;
  font-size: 2vh;
  color: #000000;
  padding-top: 4vh;
  padding-bottom: 4vh;
  border-radius: 10px;
  margin: 2vh;
}
@media (max-width: 768px) {
  .mainText {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }
}
.subTitle {
  color: rgb(45, 93, 121);
}
.underText {
  text-align: center;
  padding-bottom: 1vh;
  color: rgb(45, 93, 121);
}
